@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

:root {
    --bg-color: #061410;
    --bg-darkgreen: #153831;
    --light-green: #22B483;
    --button-color: #008000;
    --font-family: 'Roboto', sans-serif;
    --heading-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", 'sans-serif';
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 6%;
    align-items: center;
    background-color: var(--bg-darkgreen);
}

#navbrand img {
    width: 100px;
    cursor: pointer;
}

.nav .nav-item {
    list-style: none;
    display: inline-block;
    margin-left: 6px;
    color: #22B483;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px 20px;
    transition: background 0.3s;
    border-radius: 5px;
}

.nav .nav-item:hover {
    background-color: #061410;
}

#home {
    background-color: #061410;
}

.btn {
    background-color: #008000;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.btnlink {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #061410;
}

/* header nav section is completed and end from hear */

/* this is helping to change all of them items */
section {
    padding: 0px 7%;
    display: flex;
    align-items: center;
}

h1 {
    color: whitesmoke;
    font-size: 40px;
}

p {
    margin-top: 10px;
    color: white;
}

i {
    color: #008000;
    font-weight: bolder;
    margin-top: 5px;
    display: inline-block;
}

.flexContent {
    width: 50%;
}

/* shorcut items end  */

/* first section start  */
.first-section {
    background-image: url(img/bgimg.jpg);
    height: 92vh;
}

.flexContent i {
    display: block;
}

.flexContent button {
    margin-top: 20px;
    display: inline-block;
}